html,
html {
	font-size: 62.5%;
}

body {
	background-color: #FFFFFF;
	/*font-family:Galdeano,"Hiragino Sans GB","Microsoft YaHei",Trebuchet,"Trebuchet MS",Tahoma,"Lucida Grande","Lucida Sans Unicode",Verdana,sans-serif;*/
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-size: 1.6rem;
	line-height: 1.6em;
	color: #555;
	margin: 0;
}

/*general style*/

a {
	color: #2a7ae2;
	text-decoration: none;
    -webkit-transition: color ease 0.3s;
	    -moz-transition: color ease 0.3s;
	    -ms-transition: color ease 0.3s;
	    transition: color ease 0.3s;
}

a:hover {
	color: #049;
	text-decoration: underline;
}

a:focus {
	outline: 5px auto 0;
	outline-offset: -2px;
}

p {
	margin:0 0 1em;
}

img {
	max-width: 100%;
	width: auto;
	height: auto;
	border: 0;
	-ms-interpolation-mode:bicubic;
}

h1,
h2 {
	font-weight: 500;
	text-rendering: optimizelegibility;
}

h1 {
	font-size: 28px;
	font-size: 2.8rem;
	margin: 1em 0;
}

h2 {
	font-size: 22px;
	font-size: 2.2rem;
	margin: 1em 0;
}

ul,
ol {
	margin: 0;
	margin-left: 30px;
	padding: 0;
}

ul {
	list-style:disc;
}

ol {
	list-style:decimal;
}

li {
	padding-left: 8px;
	margin-bottom: 1em;
}

/*specify content style*/

.section {
	border-bottom: 1px solid #e5e5e5;
	padding: .5em 0;
}

.container {
	margin: 0 auto;
	padding: 0 15px;
	max-width: 800px;
}

.footer {
	font-size: 12px;
	font-size: 1.2rem;
	text-align: center;
	padding: 1em 0 0;
	color: #aaa;
	font-style: italic;
}

.profile {
	padding: 1.5em 0;
	overflow: hidden;
	display: table;
}

.profile-img {
	width: 50%;
	/*display: table-cell;*/
    display:inline-block;
    vertical-align:middle;
	padding-right: 5%;
}

.profile-img-wrap {
	-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
	overflow: hidden;
}

.profile-img img {
	display: block;
}

.profile-info {
	/*display: table-cell;*/
    display:inline-block;
    vertical-align:middle;
	width: 40%;
	vertical-align: middle;
}

.profile-dpt {
	/*font-weight: 700;*/
	font-size: 18px;
	font-size: 1.8rem;
	color: #898989;
}

.paper-title {
	display: block;
	font-weight: 700;
	margin-bottom: 5px;
}

.paper-author {
	display: block;
}

.paper-arxiv {
	/*font-style: italic;*/
	font-style: italic;
}

.course-name {
	font-weight: 700;
}

@media screen and (max-width: 767px) {

	body {
		font-size: 14px;
		font-size: 1.4rem;
	}

	h1 {
		font-size: 24px;
		font-size: 2.4rem;
	}

	h2 {
		font-size: 18px;
		font-size: 1.8rem;
	}

	ul,
	ol {
		margin-left: 25px;
	}

	li {
		padding-left: 0;
	}

	.profile,
	.profile-img,
	.profile-info {
		display: block;
		width: auto;
	}

	.profile-img {
		width: 200px;
		margin: 0 auto;
		padding: 0;
	}

	.profile-img-wrap {
		width: 200px;
		-webkit-border-radius: 50%;
			-moz-border-radius: 50%;
			border-radius: 50%;
		overflow: hidden;
	}

	.profile-img img {
		display: block;
		height: 200px;
		max-width: none;
		margin-left: -25%;
	}

	.profile-info {
		text-align: center;
	}


	.profile-dpt {
		/*font-weight: 700;*/
		font-size: 16px;
		font-size: 1.6rem;
	}

}
