* {
  font-family: "Futura";
}
body {
    color: #424242;
    background-color: gainsboro;
    }

.main {
  margin-top: 7vh;
  padding: 0 15vw;
}

hr, .tbl tr {
  border-top: none!important;
  border-bottom: 1px solid #ccc!important;
}

.navbar {
  border: none!important;
  padding: 0 15vw;
  top: 0;
  height:7vh;
  position:fixed;
  width:100%;
  line-height:7vh;
  z-index: 2;
}

#top-hr {
  width:70%;
}
@media (max-width:680px) {
  .navbar {
    padding: 0!important;
    padding-left: 3vw!important;
  }
  .bar-button {
    font-size: 3vw!important;
    max-width: 15vw!important;
  }
  .bar-logo {
    font-size: 2vw!important;
    max-width: 5vw!important;
  }
  #profile-container {
    margin:auto!important;
    height: 55vw!important;
    max-width: 50vw!important;
    float:none!important;
  }
  #top-hr {
    width: 100%!important;
  }
  .tbl td{
    display: block!important;
  }
}

img {
  max-height: 100%;
  max-width: 100%;
}

#profile-container {
  padding: 16px;
  padding-top: 0;
  text-align: center;
  height: 340px;
  float:right;
}
#profile {
  position: relative;
  width:100%;
  z-index: 1;
}

/*body, h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif}*/

h1, h2, h3, h4, h5, h6 {
  padding: 0 8px;
}
p, ul li {
  color:#616161!important;
  font-size: 18px;
  line-height: 1.8;
  padding: 0 8px;
}
/*
ul {
  list-style-type: disc!important;
} */

.ulst {
  list-style-type: disc!important;
  list-style-position: outside;
  line-height: 3em;
  padding: 0 26px!important;
  text-align:left;
  font-size: 16px;
}

.ulst li {
  line-height: 2.5;
}
.ulst li:last-child {border-bottom: none!important;}

.tbl{
  border-collapse: collapse;
  border-spacing:0;
  width:100%!important;
  display:table;
  font-size: 16px;
}

.tbl td, .tbl th {line-height: 2em;overflow:auto;padding:12px 8px;display:table-cell;text-align:left;vertical-align:top}
.tbl tr:first-child, .tbl tr:last-child {border-bottom: none!important;}
/* .tbl tr:nth-child(even){background-color:#ccc!important;} */
/*
.sidebarButton {
    color: w3-dark-grey;
}
*/

.text-grey {
  color:#757575!important
}

.hover-text-grey:hover {
  color:#757575!important
}

.dark-grey {
  color:#fff!important;
  background-color:#616161!important
}

.bar-logo {
  vertical-align:middle!important;
  text-align:center!important;
  text-decoration: none;
  font-size: 14px;
  padding-right: 10px;
  max-width: 10vw;
}
.logo {
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
  filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
  vertical-align:middle;
  overflow:hidden;
  padding-right: 4px;
  padding-bottom: 4px;
  max-height: 50%;
  max-width: 7vw;
}

}

.center {
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.small-button {
  border:none;
  display:inline-block;
  vertical-align:middle;
  overflow:hidden;
  text-decoration:none;
  color:#fff!important;
  background-color:inherit;
  text-align:center;
  cursor:pointer;
  white-space:nowrap;
  padding: 6px 8px;
  width: 52px;
  font-size: 12px;
  border-radius:8px;
}

.bar-button{
  font-size: 20px;
  border:none!important;
  display:inline-block;
  vertical-align:middle;
  overflow:hidden;
  text-decoration:none;
  color:inherit;
  background-color:inherit;
  text-align:center;
  cursor:pointer;
  white-space:nowrap;
  float: right;
  height: 100%;
  width: 100px;
}

.small-button:hover, .bar-button:hover{
  background-color:#ccc!important;
}

.w3-panel{
    margin: 0px!important;
}

.active{
    background-color:#ccc;
}

#foot {
  width:100%;font-size:36px;opacity:0.6;margin:auto;text-align:center;
}
.fa-foot{font-size:36px!important;
  margin-right:16px!important;
  }
  /*
.fa{display:inline-block;font:normal normal normal 14px/1 FontAwesome;font-size:inherit;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}

.fa-envelope:before{content:"\f0e0";font-family: FontAwesome;}
.fa-fw{width:1.28571429em;text-align:center}
.fa-phone:before{content:"\f095"}
.fa-map-marker:before{content:"\f041"} */

/*
tr:nth-child(even) {
  background-color: #f2f2f2;
}*/
