*{font-family: "Futura"}
img {
        image-orientation: from-image;
        }
body {
    color: #424242;
    background-color: gainsboro
    }


/*body, h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif}*/

p{font-size: 18px}
ul{font-size: 18px}
table{font-size: 16px}
.w3-row-padding img {margin-bottom: 12px}
.bgimg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../pics/zoutelande.jpg');
  min-height: 100%;
}
/*
.sidebarButton {
    color: w3-dark-grey;
}
*/


.bar-logo {
  font-size: 1vw!important;
}
.logo {
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
  filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
  vertical-align: middle;
  padding-right: 4px;
  padding-bottom: 4px;
  max-width: 100%;
  max-height: 2vw;
}

}
  /*
  color:inherit;
  background-color:inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  cursor:pointer;
  white-space:nowrap;
  text-decoration: none; */


.sidebarButton span:hover{
    color: black;
}
.center {
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.w3-button {
  padding: 0;
}

.small-button {
  padding: 6px 8px;
  width: 4vw;
  font-size: 1vw;
  text-align: center;
}
.w3-bar-item{
    vertical-align:middle;
    text-align: center;
    font-size: 2vw;
    text-decoration: none;
}

.w3-button:hover{
    color: #fff!important;
}

.w3-panel{
    margin: 0px!important;
}

.active{
    background-color:#ccc;
}

.w3-bordered tr{
    border-bottom: 1px solid #fff
}

.main {
    margin: 36px; 128px;
}

/*
tr:nth-child(even) {
  background-color: #f2f2f2;
}*/
